# Arma
*.pbo
texHeaders.bin
*.biprivatekey
keys/*

# Releases
releases/*
hemtt
hemtt.exe
.hemttout
symbols/*
.hemtt/local
*.sqfc
ArmaScriptCompiler.exe
*.zip

# Non-public folders
addons/sounds/music/*
addons/sounds/sounds/*
addons/quick_connect/*
